// Place all the styles related to the Letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #F9F9F9;
}

#letter-items-section{
	background: white;
	padding: 0;
	border: 1px solid #F2F2F2;
	table{
		margin: 0;
		width: 100%;
	}
	.ui.header .content{
		width: 100%;
		padding: 1em !important;
	}
	.metadata{
		width: 100%;
		margin-top: 0.5em;
		.buttons{
			float: left;
			.ui.button > .icon:not(.button){
				margin-right: 0.25em;
			}
		}
		.tags{
			float: right;
			.ui.label{
				margin-left: 0.25em;
			}
		}
	}
	.ui.basic.table tbody tr:hover{
		background-color: #F9F9F9;
	}
	.ui.table tr td{
		border-top: 1px solid #F2F2F2;
	}
}