<div class="ui text menu">
  <div class="item">
    <%= image_tag("flag.jpg") %>
  </div>
  <div class="browse item">
    <%= link_to 'Letters to Government', root_path %>
  </div>
  <div class="ui right button item">
    <%= link_to 'New Letter', new_letter_path %>
  </div>
</div>