<div class="ui text menu">
  <div class="item">
    <%= image_tag("flag.jpg") %>
  </div>
  <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
	<div class="ui right icon item">
	  <%= link_to new_letter_path do %>
	    <i class="plus icon"></i>
	    <% end %>
	</div>
</div>